html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#patientForm {
    width: 30%;
    height: 300px;
    position: static;
    left: 100px;
}
#textarea {
    height: 160px;
}

#caption {
    text-align: center;
}
