{% extends "base.html" %}
{% block title %}Chain of Patients{% endblock %}
{% block content %}
<div class="chain_render">
    <h1>Blockchain</h1>
        <h3>Length: {{ length }}</h3>
        <ul class="chain_render-content">
            {% for block in chain %}
                <li>Index: {{ block.index }}</li>
                <li>Timestamp: {{ block.timestamp }}</li>
                <li>Proof: {{ block.proof }}</li>
                <li>Hash: {{ block.hash }}</li>
                <li>Prev Hash: {{ block.previous_hash }}</li>
                <hr>
            {% endfor %}
        </ul>
</div>
{% endblock %}