{% extends "base.html" %}
{% block title %}Medical Security System{% endblock %}
{% block content %}
    <h1>JD</h1>
    <button onclick="patientForm()">Add New Block</button>
    <button onclick="getChain()">Get Chain</button>
    <button onclick="showInput()">Get Block</button>
    <form action="get_block" method="post" style="display: none;" id="block_number">
        <label for="block_number">Enter block number:</label>
        <input type="number" name="block_number">
        <input type="number" name="block_pesel">
        <button onclick="get_block()">Submit</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <script>
                    alert("{{ message }}");
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% if block_data %}  
        <h3>Dane bloku:</h3>
        <ul>
            <li>Indeks: {{ block_data['index'] }}</li>
            <li>Timestamp: {{ block_data['timestamp'] }}</li>
            <li>Proof: {{ block_data['proof'] }}</li>
            <li>Hash: {{ block_data['previous_hash'] }}</li>
            <li>Poprzedni Hash: {{ block_data['previous_hash'] }}</li>
        </ul>
        <hr>
        <h3>Dane pacjenta:</h3>
        <ul>
            <li>Imię: {{ block_data['data']['name'] }}</li>
            <li>Nazwisko: {{ block_data['data']['surname'] }}</li>
            <li>Wiek: {{ block_data['data']['age'] }}</li>
            <li>Miasto: {{ block_data['data']['city'] }}</li>
            <li>PESEL: {{ block_data['data']['pesel'] }}</li>
            <li>Dolegliwość: {{ block_data['data']['disease'] }}</li>
        </ul>
    {% endif %}
    <img src="{{url_for('static', filename='box-fill.svg')}}">
{% endblock %}