{% extends "base.html" %}
{% block title %}Medical Security System{% endblock %}
{% block content %}
    <h1>JD</h1>
    <button onclick="patientForm()">Add New Block</button>
    <button onclick="getChain()">Get Chain</button>
    <button onclick="showInput()">Get Block</button>
    <form action="get_block" method="post" style="display: none;" id="block_number">
        <label for="block_number">Enter block number:</label>
        <input type="number" name="block_number">
        <input type="number" name="block_pesel">
        <button onclick="get_block()">Submit</button>
    <img src="{{url_for('static', filename='box-fill.svg')}}">
    <script src="{{url_for('static', filename='index.js')}}"></script>
{% endblock %}