{% extends "base.html" %}
{% block title %}Add New Patient{% endblock %}
{% block content %}
<form action="mine_block" method="post" id="patientForm">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br>

    <label for="surname">Surname:</label><br>
    <input type="text" id="surname" name="surname" required><br>

    <label for="pesel">Pesel:</label><br>
    <input type="number" id="pesel" name="pesel" required  placeholder="11 digits only..."><br>

    <label for="disease">Disase:</label><br>
    <textarea name="disease" rows="10" cols="30" placeholder="Describe your health problem..."></textarea>

    <input type="submit" value="Send">  
    <input type="reset" value="Reset">
</form>
<script src="{{url_for('static', filename='validation.js')}}"></script>
<script src="{{url_for('static', filename='index.js')}}"></script>
{% endblock %}